@charset "UTF-8";

@font-face {
    font-family: 'onsite-font';
    src: url('assets/gestura-font-family/GesturaDisplayTRIAL-Regular-BF64b755043c4b8.otf') format('opentype');
}
@font-face {
    font-family: 'gestura-font';
    src: url('assets/gestura-font-family/GesturaDisplayTRIAL-Regular-BF64b755043c4b8.otf') format('opentype');
}
@font-face {
    font-family: 'Sunrise Time';
    src: url('/assets/Sunrise-Time-BF64b294d821ac2.otf') format('opentype');
}

:root {
    --body-font: 'onsite-font';
    --title-font: 'gestura-font';
    --destaque-font: 'Sunrise Time';

    --background-color: #EEE4D8;
    --destaque-color: #9CAEBF;
    --header-color: #082F66;
    --font-light: #FBF9F3;
    --font-dark: #1A1B1E;
    --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

.clipMask {
    background-color: var(--header-color);
    width: 100vw;
    height: 30vh;
    border-radius: 0 0 80% 80%;
    position: absolute;
    top: 0;
    left: 0;
}

.circleMask {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--destaque-color);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
}

a {
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

section.title {
    margin-bottom: 2vw;
}

section > h1 {
    font-family: var(--title-font);
    font-size: 6vw;
    margin: 2vw;
}

section > h3,
section > h4 {
    font-family: var(--body-font);
    font-size: 4vw;
    margin: 2vw;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 50px;
    margin: 8px;
    padding: 16px;
    border: none;
    border-radius: 50px;
    background-color: var(--destaque-color);
    color: var(--font-dark);
    font-size: 15px;
    box-shadow: var(--button-shadow);
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 12px;
    padding: 32px;
    margin-top: 5vh;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
    .clipMask { height: 32vh; }
    .circleMask {
        width: 220px;
        height: 220px;
    }
    .logo {
        width: 210px;
        height: 210px;
    }
    article { margin-top: 25vh; }
    section { padding: 3vw; }
    section > h1 { font-size: 3vw; }
    section > h3 { font-size: 2vw; }
    section > h4 { font-size: 1.5vw; }
    button { width: 70vw; }
    footer { font-size: 1.2vw; }
}

@media screen and (min-width: 1200px) {
    .clipMask { height: 30vh; }
    article { margin-top: 20vh; }
    section { padding: 1vw; }
    section > h1 { font-size: 2.5vw; }
    section > h3 { font-size: 1.9vw; }
    section > h4 { font-size: 1.5vw; }
    button { width: 60vw; }
    footer { font-size: 1vw; }
}
